@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#root{
  background-color:#d32626;
  font-family: 'Montserrat', sans-serif;
}

.Row-SocialMediaIcons{
  background-color:  #468300;
  /* background-color: #f5a31a; */
  padding: 10px;
}

.Row-LowerFooter{
  padding: 10px;
  background-color: #363636;
  color: white;
}

.Navbar{
  background-color:  #468300;
}
.Footer{
  background-color: #63b900;
}

.ItemDetailBox{
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1.5px black solid;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 5px 2px 10px rgb(117, 117, 117);
  background-color: white;
  text-align: center;
}

.ItemList{
  background-image: url('./componentes/icons/img/BackgroundPattern.png');
  background-color: white;
}

.CartIndicator{
  padding-top: 2px;
  padding-bottom: 2px;
  position: absolute;
  top: 25px;
  right: 130px;
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: #d32626;
  border-radius: 50%;
  color: white;
  font-weight: bold;

}

.FooterLink{
  text-decoration: none;
  color: white;
}

.Link_Home{
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
}

.Row_ItemDetail{
  background-color: white;
}

.Row_ItemDetail-R{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 30px;
}

.Row_ItemDetail-Side{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 5px;
  background-color: white;
  background-image: url('./componentes/icons/img/BackgroundPattern.png');
  background-size: 80%;
}

.Row_CartItemDetail-Heading{
  border-top-left-radius: 5px;
  background-color: #63b900;
}

.Row_CartItemDetail-Foot{
  background-color: #63b900;
  text-align: end;
}

.Row_CartItemDetail-Foot-Tot{
  border-bottom-left-radius: 30px;
}

.Row_CartItemDetail-Foot-Btn{
  border-bottom-right-radius: 5px;
}

.Row_CartItemDetail{
  background-color: white;
}


.Row_CartDetail-Side{
  border-top-right-radius: 30px;
  background-color: white;
  background-image: url('./componentes/icons/img/BackgroundPattern.png');
  background-size: 80%;
}

.UserForm{
  background-color: white;
  margin: 5%;
  padding: 2%;
  border-radius: 50px 5px 50px 5px;
}

.navbar-nav .nav-link {
  color: #f8f9fa !important;
}

.Recomendaciones{
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.ContainerItems_Home{
  max-width: 1000px !important;
}
/* /////////////////////////////////// */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
